.fury .calculate__title {
    color: #FFED00;
}

.fury__result { 
    position: relative;
    display: block;     
    width: 100%;    
    
    padding: 10px 10px;

    font-size: 22px;  
    font-family: 'Rodchenko';
      
    background-color: #CB7E4B;
    color: rgba(255, 255, 255, 0.9);
    border: 1px dashed rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 1px #000000;
    
}
.fury__icon {
    position: absolute;
    top: 35px;    
    right: 15px;
    content: ' ';
    width: 20px;
    height: 20px;     

    background-image: url(../img/fury/fury-icon.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;

    transition: 0.2s;
}

.fury__icon--animate {
    transform: scaleX(-1);
}

.fury .calculate__important {
    box-shadow: 0 0 5px 1px #FFED00; 
}