.health__subtitle {
    color: #0dd36d;
}

/* level */


.level__alert {
    font-size: 13px;
    color: #D71609;
}
.alert-hidden {
    visibility: hidden;
}

/* stamina */



.stamina__alert {
    font-size: 13px;
    color: #D71609;
}

.bonus {
    margin-top: 10px;
    margin-bottom: 25px;
}
.bonus__label {
    color: #ffffffcc;
}
.bonus__alert {
    font-size: 13px;
    color: #D71609;
}

/* result */

.health__result-wrapper {    
    margin: 0;
    font-family: 'Rodchenko';
    font-size: 20px;    
    
    letter-spacing: 1px;
}

.health__result { 
    display: block;     
    width: 100%;    
    
    padding: 10px 10px;

    font-size: 22px;  
    font-family: 'Rodchenko';
      
    background-color: #CC4E42;
    color: rgba(255, 255, 255, 0.9);
    border: 1px dashed rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 1px #000000;
    
}

.healt__important {  
    margin-top: 25px; 
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 7px;
    padding-right: 7px;

    text-align: center; 
    color: #ffffff;
    font-size: 14px;    
    
    box-shadow: 0 0 5px 1px #0dd36d; 
    border-radius: 5px; 
}