@font-face {
    font-family: 'Rodchenko';
    src: url("../fonts/Rodchenko.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap; 
}


.page {    
    background-image: url(../img/bg-body.jpg);    
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-weight: 400;
}

.back-bg  {
    position: absolute;
    z-index: 0;
    height: 100vh;
    width: 350px;
    padding-top: 25px;
    margin-left: 30px;
    background-color: black;
    background-image: url(../img/bg-vertical.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    

    box-shadow: 0 0 5px;    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}



.page-main {
    position: relative;
    z-index: 2; 
    display: flex;
    min-height: 80vh;    
}

.logo {  
    position: relative;
    z-index: 4;
    display: block;  
    width: 350px;  
    padding: 20px 0;
    margin-left: 30px;
    font-size: 40px;
    font-family: 'Rodchenko';
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;   
    text-transform: uppercase;
    text-align: center;

    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 15px, #D71609 0px 0px 20px, #D71609 0px 0px 50px;

    transition: 0.5s;
}

.logo:hover {
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 15px, #FFF 0px 0px 25px,#D71609 0px 0px 20px, #D71609 0px 0px 50px, #D71609 0px 0px 40px;
}

/* .logo span {
    color: #D71609;
} */


.main-nav {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
          
    min-width: 300px;
    
    text-align: right;  
    background-image: url(../img/bg-vertical-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-top: 2px solid #c5bdbd;
    border-left: 2px solid #c5bdbd;
    border-right: 1px solid #c5bdbd;
    border-bottom: 2px solid #c5bdbd;
    border-top-left-radius: 1px;

    box-sizing: border-box; 
}

.main-nav::before {
    position: absolute;
    width: 100px;   
    
    content: '';
    width: 200px;
    bottom: 40px;
    height: 100px;
    left: 50px;
    transform: rotate(5deg);
    
    background-image: url(../img/topsecret.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-nav__list {  
    padding-left: 3px;   
    margin: 0;
    list-style: none;

    box-sizing: border-box;
}

.main-nav__link {   
    display: block; 
    padding: 15px 35px;

    font-size: 20px;
    font-family: 'Rodchenko';
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;   
    text-transform: uppercase;    
    text-shadow: 0px 0px 5px rgb(87, 10, 4);  

}

.main-nav__link:hover {
    background-image: linear-gradient(45deg,  rgba(215, 23, 9, 0.137), #D71609);
    color: #ffffff;
    box-shadow: 0 0px 5px rgb(133, 9, 0);
}

.main-nav__link.active {
    background-image: linear-gradient(45deg,  rgba(215, 23, 9, 0.137), #D71609);
    color: #ffffff;
    box-shadow: 0 0px 5px rgb(133, 9, 0);
}

.main-content {
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px; 
    width: 100%;     
    height: auto;
    
    background-image: url(../img/bg-cont-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 5px 5px 45px 10px rgba(0, 0, 0, 0.3),
    0 0 10px 0px black;

    border-top: 2px solid #c5bdbd;
    border-right: 2px solid #c5bdbd;
    border-bottom: 2px solid #c5bdbd;

    overflow: hidden;
}
.main-content__title {
    
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    
    color: #000000;   
    font-family: 'Rodchenko';
}

.main-content::after {
    content: '';
    position: absolute;
    right: -30px;    
    top: -80px;
    width: 300px;
    height: 300px;
    
    opacity: 0.3;
    
    background-image: url(../img/biohazard.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content__highlight {     
    position: relative;
    margin-top: 25px;

    
    color: #000000;
    font-size: 16px;
    line-height: 120%;
    font-weight: 600;
}
.main-content__highlight::before {
    position: absolute;
    content: '';    
    
    width: 80%;
    height: 15px;
    bottom: -25px;
    background-image: url(../img/redline.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
    transform: scale(1);
}

/* calculate */

.calculate__title {
    margin-top: 10px;

    font-family: 'Rodchenko';
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    
    text-shadow: 2px 2px 2px #000000;
}

.calculate-inner {    
    position: relative;
    z-index: 5;    
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;  

    background-color: rgba(0, 0, 0, 0.6);    
    border-radius: 5px;

    box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.3);
}

.calculate-input-wrapper  {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.calculate__label {
    margin-bottom: 3px;   
    margin-top: 0;

    font-family: 'Rodchenko';
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
    
    color: #ffffffcc;
    text-shadow: 1px 1px 1px #000000;
}

.calculate__input {
    display: block;
    width: 100%;      
    
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 15px;    

    font-size: 22px;  
    font-family: 'Rodchenko';
      
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px dashed rgba(0, 0, 0, 0.5);

    color: #CC4E42;    

    text-shadow: 1px 1px 1px #000000;  
}



.calculate__result {
    display: block;
    width: 100%;  

    
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 15px;    

    font-size: 22px;  
    font-family: 'Rodchenko';
      
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px dashed rgba(0, 0, 0, 0.5);

    color: #CC4E42;    

    text-shadow: 1px 1px 1px #000000;
}

.calculate__important {
    margin-top: 25px; 
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 12px;

    text-align: center; 
    color: #ffffff;
    font-size: 14px;    
    
    box-shadow: 0 0 5px 1px #ffffff; 
    border-radius: 5px;
}

.calculate__link {
    text-decoration: none;
    color: #ffffff;
}

.calculate-input-inner {
    position: relative;
}


.calculate__icon {
    position: absolute;
    top: 36px;    
    right: 15px;
    content: ' ';
    width: 20px;
    height: 20px;
    
    opacity: 0.7;

    transition: 0.2s;
}




.calculate__button {
    position: relative;
    display: block;
    width: 100%; 
    margin: 15px 0;     
    
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;    

    font-size: 16px;  
    font-family: 'Rodchenko';
    text-transform: uppercase;
    letter-spacing: 1px;      
    
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);   
    border-bottom-left-radius: 10px;    
    border-bottom-right-radius: 10px;    

    text-shadow: 1px 1px 1px #000000;
    cursor: pointer; 

    transition: 0.1s;
}

.calculate__button:hover {
    opacity: 0.95;
    
    /* box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5),
    0 0 5px rgba(0, 0, 0, 0.5);      */
}

.calculate__button::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;

    width: 100%;
    height: 5px;
    
    border-radius: 10%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
}

.vk-button {
    background-color: #4c75a3;
    color: #ffffff;
}

.vk-button:hover {
    background-image: linear-gradient(#4c75a3, #5c8ac0);   
}

.donate {
    margin-top: 15px;   
}
.donate__title {
    color: #fc0;
}
.donate__input {
    color: #222222;
    text-shadow: 0px 0px 1px #000000;
}
.donate-button {    
    background-color: #fc0;   
    text-shadow: 0px 0px 1px #000000; 
}
.donate-button:hover {
    background-image: linear-gradient(#fc0, rgb(252, 222, 103));
    
}
.page-footer {
    position: relative;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-content {    
    width: 350px;
    margin-left: 30px;    
}
.footer__title {
    font-family: 'Rodchenko';
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
}
.footer__link {
    display: block;
    font-family: 'Rodchenko';
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: #CC4E42;
}

::-webkit-scrollbar-button {
    background-image: url('');
    background-repeat: no-repeat;
    width: 5px;
    height: 0px
}

::-webkit-scrollbar-track {
    background-color: #3C342E;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #BAA693;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(32, 23, 23, 0.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
    background-size: 3px 3px;
    box-shadow: inset 0 0 2px 0px; 

    border: 2px solid #3C342E;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(186, 166, 147, 0.555);
   
}

::-webkit-resizer {
    background-image: url('');
    background-repeat: no-repeat;
    width: 4px;
    height: 0px
}

::-webkit-scrollbar {
    width: 17px;
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}   

@media only screen and (max-width : 1199px) {
    .main-nav {
        min-width: 280px;
    }

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
       
   .calculate {
    margin-top: 40px;
    }
    

}
@media only screen and (max-width : 991px) {
    

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
    
}  

@media only screen and (max-width : 767px) {  
    .page-main {
        flex-direction: column;
    }
    
}

@media only screen and (max-width : 576px) {
    

   
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
      
    .back-bg {
        display: none;
    }
    .logo {
        width: 100%;
        margin: 5px 0;        

        background-color: #0000009f;
        color: #ffffff;
    }
    .main-nav::before  {
        display: none;
        
    }
}

@media only screen and (max-width : 360px) {
    
    
} 

