@font-face {
    font-family: 'Rodchenko';
    src: url("../fonts/Rodchenko.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap; 
}

.page {    
    background-image: url(../img/bg-body.jpg);    
    background-size: cover;
    background-repeat: no-repeat;
}
.vertical-bg-wrapper {
    position: relative;
    z-index: 0;
}
.vertical-bg  {
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 350px;
    padding-top: 25px;
    margin-left: 30px;
    background-color: black;
    background-image: url(../img/bg-vertical.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

    box-shadow: 0 0 5px;    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.page-header {   
    
    
}

.page-main {
    position: relative;
    z-index: 2; 
    display: flex;
    
}

.logo {  
    position: relative;
    z-index: 4;
    display: block;  
    width: 350px;  
    padding: 20px 0;
    margin-left: 30px;
    font-size: 40px;
    font-family: 'Rodchenko';
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;   
    text-transform: uppercase;
    text-align: center;

    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 15px, #D71609 0px 0px 20px, #D71609 0px 0px 50px;

    transition: 0.5s;
}

/* .logo:hover {
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 15px, #FFF 0px 0px 25px,#D71609 0px 0px 20px, #D71609 0px 0px 50px, #D71609 0px 0px 40px;
} */

/* .logo span {
    color: #D71609;
} */
.main-nav {
    padding-top: 25px;
          
    min-width: 320px; 
    min-height: 80vh;
    text-align: right;  
    background-image: url(../img/bg-vertical-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-top: 2px solid #c5bdbd;
    border-left: 2px solid #c5bdbd;
    border-right: 1px solid #c5bdbd;
    border-bottom: 2px solid #c5bdbd;
    border-top-left-radius: 1px;

    box-sizing: border-box;

    
    
}

.main-nav__list {  
    padding-left: 3px;   
    margin: 0;
    list-style: none;

    box-sizing: border-box;
}

.main-nav__link {   
    display: block; 
    padding: 15px 35px;

    font-size: 20px;
    font-family: 'Rodchenko';
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;   
    text-transform: uppercase;    
    text-shadow: 0px 0px 5px rgb(87, 10, 4);
}

.main-nav__link:hover {
    background-image: linear-gradient(45deg,  rgba(215, 23, 9, 0.137), #D71609);
    color: #ffffff;
    box-shadow: 0 0px 5px rgb(133, 9, 0);
}

.submenu__list {
    margin: 0;    
    list-style: none;
    padding: 0;
}
.submenu__link {
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 35px;

    font-size: 18px;
    font-family: 'Rodchenko';
    text-decoration: none;
    color: #ffffffad;
    
}
.main-content {
    position: relative;
    padding: 25px;    
    background-image: url(../img/bg-cont-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 5px 5px 45px 10px rgba(0, 0, 0, 0.3),
    0 0 10px 0px black;

    border-top: 2px solid #c5bdbd;
    border-right: 2px solid #c5bdbd;
    border-bottom: 2px solid #c5bdbd;

    overflow: hidden;
}

.main-content::after {
    content: '';
    position: absolute;
    right: -30px;    
    top: -80px;
    width: 300px;
    height: 300px;
    
    opacity: 0.3;
    
    background-image: url(../img/biohazard.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section-title {
    letter-spacing: 1px;
    color: #222222;   
    font-family: 'Rodchenko';
}