/* .pet {
    overflow-y: scroll;    
} */

.pet__table {    
    font-weight: 600;
    border: 1px solid #222222;
    border-collapse: collapse;
    background-color: #ffffff73;
    
}
.pet__table td, th {
    padding: 3px 10px;
    border: 1px solid #222222;
    
    
    
}
.pet__table th:not(:first-child), 
.pet__table td:not(:first-child) {
        text-align: right;
}

/* .pet .form-wrapper {
    position: fixed;
    width: 22%;
} */
.pet__subtitle {
    color: #ffffff;
}

.pet-form__label {
    position: relative;
}

.pet__select {    
    margin-bottom: 15px;
    color: #78885B;
    letter-spacing: 1px;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../img/pet/arrow-select.svg);
    background-repeat: no-repeat;
    background-position: 93% 52%;
    background-size: 5%;   
}

.pet__select:hover { 
    color: #78885B; 

    box-shadow: inset 0 0 5px;
    
      
}

.pet__select option {
    font-size: 20px;
    background-color: rgb(204, 202, 198);
}


.pet-level__input {
    color: #78885B;
    margin-bottom: 30px;
}
.pet__result {
    margin-top: 15px;
    margin-bottom: 15px;
}
.pet__food {
    position: relative;
    display: block;     
    width: 100%;    
    
    padding: 10px 10px;

    font-size: 22px;  
    font-family: 'Rodchenko';
      
    background-color: #78885B;
    color: rgba(255, 255, 255, 0.9);
    border: 1px dashed rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 1px #000000;
}

.pet__price {
    position: relative;
    display: block;     
    width: 100%;    
    
    padding: 10px 10px;

    font-size: 22px;  
    font-family: 'Rodchenko';
      
    background-color: #58613C;
    color: rgba(255, 255, 255, 0.9);
    border: 1px dashed rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 1px #000000;
}

.fury__important {
    margin-top: 25px; 
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 7px;
    padding-right: 7px;

    text-align: center; 
    color: #ffffff;
    font-size: 14px;    
    
    box-shadow: 0 0 5px 1px #ffffff; 
    border-radius: 5px; 
}