.weapon .calculate__title {
    color: #CC4E42;    
}
.weapon__input {
    padding-top: 4px;
    padding-bottom: 4px;    
}

.weapon__select {    
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../img/pet/arrow-select.svg);
    background-repeat: no-repeat;
    background-position: 93% 52%;
    background-size: 4%;   
}


.weapon__select:hover {     
    box-shadow: inset 0 0 5px #CC4E42;
}

.weapon__select option {
    background-color: rgb(204, 202, 198);
    color: #222222;
}

:disabled {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;

}
.weapon-input-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
}
.weapon-input-wrapper .calculate-input-inner {
    max-width: 48%;
    flex-basis: 48%;
}

.weapon__button {
    margin-top: 25px;
    color: #ffffff;
    background-color: #78885B; 
    
}

.damadge {
    display: flex;
    justify-content: space-between;    
    flex-wrap: wrap;
    
}

.damadge .calculate-input-inner {
    max-width: 31%;
    flex-basis: 31%;
}

.damadge__human {
    /* background-color: #CC4E42; */
    background-color: hsla(20, 80%, 50%, 1);
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: #ffffff; 
}

.human-icon {
    top: 32px;
    right: 11px;    
    width: 22px;
    height: 22px;
}


.damadge__mutant {
    /* background-color: #923931; */
    background-color: hsla(20, 80%, 50%, 1);
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: #ffffff; 
}

.mutant-icon {
    top: 33px;
    right: 11px;    
    width: 20px;
    height: 20px;
}

.damadge__boss {
    /* background-color: #682721; */
    background-color: hsla(20, 80%, 50%, 1);
    
    border: 1px solid rgba(0, 0, 0, 0.6);
    color: #ffffff; 
}

.boss-icon {
    top: 32px;
    right: 11px;    
    width: 22px;
    height: 22px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}   

@media only screen and (max-width : 1199px) {
    .weapon-input-wrapper .calculate-input-inner {
        margin: 5px 0;
        max-width: 100%;
        flex-basis: 100%;
    }
    .damadge .calculate-input-inner {
        margin: 5px 0;
        max-width: 100%;
        flex-basis: 100%;
    }
    

}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
    

}
@media only screen and (max-width : 991px) {
    

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
    
}  

@media only screen and (max-width : 767px) {  
    
    
}

@media only screen and (max-width : 576px) {
    

   
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
     
    
}

@media only screen and (max-width : 360px) {
    
        
} 
