.weapon__subtitle {
    color: #CC4E42;    
}
.weapon__input {
    padding-top: 4px;
    padding-bottom: 4px;
    
}
.weapon__belt {
    color: #ffffff;
}
.weapon__option {
    color: #222222;
    font-size: 20px;
    background-color: rgb(204, 202, 198);
}

.damage__character {
    position: relative;
    display: block;     
    width: 100%;    
    
    padding: 10px 10px;

    font-size: 22px;  
    font-family: 'Rodchenko';
      
    background-color: #CC4E42;
    color: rgba(255, 255, 255, 0.9);
    border: 1px dashed rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 1px #000000;
}